.main-sc{
height: 300vh;
.main-innner{
   width:100%;
   height: 100vh;
   position: relative;
display: flex;
flex-direction: column;
justify-content: flex-end;
padding-left: 9.63rem;
top:0;
.main-contents-inner{
   width: 1920px;
   height: 100%;
   position: absolute;
  top:50%;
  left:50%;
  padding-left:9.63rem;
  display: flex;
  flex-direction: column;
  transform: translate(-50%,-50%);

   .main-title-box{
      width: 84.69rem;
      display: flex;
      align-items: flex-end;
      left: 9.31rem;
      top: 16.5rem;
      position: relative;
      z-index: 50;
      overflow: hidden;
      .title-s{
         font-size: 5rem;
         font-weight: 600;
         letter-spacing: -0.075em;
         line-height: 1.2;
      }
      .title-l{
         font-size: 23.13rem;
         line-height: 0.7;
         letter-spacing: -0.05em;
      }
      .story{
         position: absolute;
         right: 0;
         /* right: 16.38rem; */
         /* left:88.38rem; */
      }
     
      }
       .photo-box{
         position: absolute;
         width:100%;
         height: auto;
         display: flex;
         top:0;
         left:0;

          > div{
         clip-path: inset(50%);
      }

      .photo{
         position: absolute;
         /* display: flex;
         min-height: 100%;
         height: auto; */
      }
      .photo-1{
         top:22rem;
         left:66rem;
         z-index: 8;
      }
      .photo-2{
         top:7.06rem;
         left:41.56rem;
      }
      .photo-3{
         top:8.06rem;
         left:61.43rem;
         z-index: 10;
      }
      .photo-4{
         top:41.31rem;
         left:50rem;
         z-index: 8;
      }
      .photo-5{
         top:19.63rem;
         left:48.25rem;
      }
      .photo-6{
         top:24.25rem;
         left:26.25rem;
         z-index: 9;
      }
      .photo-7{
         top:37.31rem;
         left:65.81rem;
         z-index: 9;
      }
      
      }
     
    }
    .sub-words-box{
      display: flex;
      flex-direction: column;
      color: #686868;
      letter-spacing: -0.05em;
      gap:15.5rem;
      margin-bottom: 3.25rem;
      overflow: hidden;

   .mid-words-box{
      font-size: 1.13rem;
      line-height: 1.2;
      
      
      
   }
   .bottom-words-box{
   
      font-size: 0.94rem;
   }
    }

   .circle-arrow{
      position: absolute;
      right: 17.25rem;
      top:46.69rem;
      z-index: -1;
   }
}


}

.introduce-sc{
    height:auto;
    .introduce-inner{
      width: 100%;
      height: calc(100vh + 2700px);
      padding: 14.75rem 10.75rem 9.25rem 10.75rem;
      display: flex;
      justify-content: center;
      .introduce{
         display: flex;
         flex-direction: column;
         align-items: center;
         width: auto;
      
        .introduce-img{
         clip-path: inset(0%);
          margin-top: 7.56rem; 
        }
       .sub-contents-box{
             display: flex;
             margin-top: 3.12rem;
             width: 100%;
             color: #484848;
             align-items: flex-start;
             justify-content: space-between;
             overflow: hidden;
    
             .left-content{
                font-size: 1.5rem;
                font-weight: 500;
             }
    
             .center-content {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 1.63rem;

                  .diamond{
                     width: 0.94rem;
                     height: 0.94rem;
                     background-color: #c7c7c7;
                  }

                  .line {
                     width: 11.88rem;
                     height: 0.06rem;
                     background-color: #c7c7c7;
                  }
                  :nth-child(1){
                     transform-origin: right center;
                     transform: scaleX(0);
                  }
                  :nth-child(3){
                     transform-origin: left center;
                     transform: scaleX(0);
                  }
             
             }
         

          .right-content{
             font-size: 1.5rem;
          }
       }
      }

    }



}

.big-number-sc{
   overflow: hidden;
   .big-number-inner{
         width: 100%;
         /* height: calc(100vh + 3000px); */
         display: flex;
         flex-direction: column;
         align-items: center;
         padding-bottom: calc(1800px + 10rem);
       
      .line-box{
         width: 100%;
         display: flex;
         flex-direction: column;
         align-items: center;
         padding-bottom: 3.25rem;


         .vertical-line{
            height: 17.63rem;
         }
      }
      .big-number{
         font-size: 48.75rem;
         font-weight: 500;
         letter-spacing: -0.05em;
         line-height: 0.75;
         color: #68635f;
         z-index: 10;
      }
      .detail{
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         gap: 1rem;
         font-size: 2.25rem;
         font-weight: 500;
         letter-spacing: -0.075em;
         color:#c7c7c7;
         margin-top: 6.25rem;
      }
      
   }


   

}

.history-sc{
   .history-inner{
         width: 100%;
         background-color: #8c8680;
         /* padding: 3.19rem 3.75rem  1.75rem 3.75rem; */
         padding: 2.66vw 3.13vw  0  3.13vw;
         display: flex;
         flex-direction: column;
         align-items: center;

         .top-content{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* font-size: 4.63rem; */
            font-size: 3.86vw;
            letter-spacing: -0.08em;
            color: #ece2d9;
            font-weight: 300;
            /* color: #a69f98; 비활성화 상태의 색*/
            /* word-spacing: 2.08vw; */
            line-height: 0.8;
            gap:0.625vw;
            
            div{
               display: flex;
               align-items: center;
               gap:2.08vw;
            }
            .alta{
               /* font-size: 5.25rem; */
               font-size: 4.38vw;
               letter-spacing: -0.04em;
               font-weight:400;
               gap:2.08vw;
               /* word-spacing: 2.5rem; */
            }

            .diamond-space{
               gap:1.56vw;
               .diamond{
                  background-color: #ece2d9;
                  width: 0.68vw;
                  height: 0.68vw;
               }
            }

   
         }

         .history-box{
            width: 100%;
            margin-top: 1.49vw;
            padding-bottom: 28.96vw;
            position: relative;
            
            .line-box{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap:0.83vw;

            .diamond-box{
               display: flex;
               flex-direction: column;
               align-items: center;
               gap:0.5vw;
               .diamond{
                  background-color: #ece2d9;
                  width: 0.78vw;
                  height: 0.78vw;
               }

            }

               .lines{
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  >div{
                     display: flex;
                     flex-direction: column;

                  
                  }
   

                  .vertical-line{
                     height:35.16vw;
                     background-color: #fcf8f4;
                  }
                  .vertical-line:nth-of-type(1){
                     height: 26.83vw;

                  }

                     .long{
                        width: 75.32vw;
                        background-color: #fcf8f4;
                     }
                     .short{
                        width: 61.15vw;
                        background-color: #fcf8f4;
                     }

                  .branch{
                     display: flex;
                     width: 100%;
                     justify-content: space-between;
                     .vertical-line{
                        background-color: #fcf8f4;
                        height: 12.24vw;
                     }
                  }
               }

         }
            .img-box{
               >div{
                  position: absolute;
                  z-index: 10;
                  img{
                     width: 18.75vw;
                     height: auto;
                  }
               }

               .center{
                  left:50%;
                  transform: translateX(-50%);
               }  
               .img1918,.img1955{
                  left:0;
               }
               .img1921,.img1974{
                  right: 0;
               }
               .img1933,.img2011{
                  left:6.98vw;
                  /* 8.44 */
               }
               .img1943,.img2016{
                  right: 6.98vw;
               }
               
               .img1876{
                  top:17.66vw;
               }
               .img1918,.img1921{
                  top:33.54vw;
               }
               .img1931{
                  top:65.05vw;
               } 
               .img1933,.img1943{
                  top:81.2vw;
               } 
               .img1954{
                  top:112.82vw;
               }
               .img1955,.img1974{
                  top:128.65vw;
               }
               .img1988{
                  top:160.26vw;
               }
               .img2011,.img2016{
                  top:176.04vw;
               }

            }
         
         .year-box{
            font-weight: 500;
            font-size:7.08vw;
            line-height: 1;
            letter-spacing: 0;
            color: #a69f98;
            >span{
               position: absolute;
            }
            .centerLeft{
               left:27.61vw;
            }
            .centerRight{
               right:28.86vw;
            }
            .inLeft{
               left:13.38vw;
            }
            .inRight{
               right: 13.38vw;
            }
            .outLeft{
               left:0;
            }
            .outRight{
               right:0;
            }

            .year1878{
               top:39.22vw;
            }
            .year1918,.year1921{
               top:55.05vw;
            }
            .year1931{
               top:86.62vw;
            }
            .year1933,.year1943{
               top:102.40vw;
            }
            .year1954{
               top:133.91vw;
            }
            .year1955,.year1974{
               bottom: 57.19vw;
            }
            .year1988{
               bottom:25.63vw;
            }
            .year2011,.year2016{
               bottom: 9.90vw;
            }
         
         }

         
      }
      }

   
}

.video-sc{
   .video-sc-inner{
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   .video-box{
      position: relative;
      width: 100vw;
      height: 100vh;
      top:0;
      left:0;

       video{
         width: 100%;
         height: 100%;
         object-fit: cover;
         transform-origin: top;
         transform: scaleY(0);
      }
      /* 재생 버튼 (초기 상태) */
         .button-container {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 104px;
            height: 104px;
            display: flex;
            align-items: center;
            justify-content: center;
            backdrop-filter: blur(10px); /* 배경 블러 */
            background: rgba(255, 255, 255, 0.1); /* 반투명 */
            border-radius: 50%;
            cursor: pointer;
            transition: transform 0.3s ease-in-out;
         }
         /* 비디오가 재생되면 버튼 숨기기 */
         .hidden {
            display: none;
         }

   }   
     
      .vertical-line{
         height: 7.19rem;
         transform-origin: bottom;
      }
}
   }


.pictures-sc{
   .pictures-sc-inner{
      width: 100%;
      display: flex;
      flex-direction: column;
      /* padding-top: 4.87rem; */
      .contents{
         display: flex;
         width:100%;
         padding: 0 3.75rem 0 3.75rem;
         justify-content: space-between;

         .left-picture-box{
            width:100%;
            padding: 4.87rem 0  6.12rem 0;
            .left-picture{
               margin-left: 2.5rem;
               clip-path: inset(100%);
            }
       }
      .right-picture-box{
         width:100%;
               height: 100%;
         padding: 4.87rem 0  6.12rem 0;
         .right-box-inner{
            width:100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap:8.63rem;
            overflow: hidden;
         .pictures{
           position: relative; 
           width: 100%;
           height: 100%;
           top:0;
           right: 0;
           display: flex;
           /* gap: 0.38rem; */
           font-size: 0.88rem;
           color: #a2a2a2;

           .hanger,.lamp{
            position: absolute;
           }

            .hanger{
               top: 14.63rem;
               right: 24.19rem;
               display: flex;
               flex-direction: column;
               gap:1rem;
               .detail{
                  transform-origin: top;
                  transform: scaleY(0);
               }
            }

            .lamp{
               display: flex;
               right: 0;
               gap:1.13rem;
               .detail{
                  writing-mode: vertical-lr;
                  transform-origin: left;
                  transform: scaleX(0);
               }
            }
            img{
               clip-path: inset(100%);
            }


         }

         .text{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            font-size: 1.5rem;
            color:#484848;
            line-height: 1.3;
            /* height: 15.31rem; */
            /* max-width: 38.81rem; */
         }
      }
   }
      }
     
   }

}

.designer-sc{

   img{
      width: initial;
   }
   
   .designer-sc-inner{
      width: 100%;
      display: flex;
      flex-direction: column;
      padding: 23.88rem 0 9.25rem 0;
      gap:10.81rem;
      position: relative;

              

      .vertical-line-box{
   
         .top-line{
            height: 16.69rem;
         }
      }
      

      .title-box{
         gap:5.81rem;

         .section-title-sub{
            font-size: 1.75rem;
         }
       }

       
       .designers-box{
         display: flex;
         overflow: hidden;

         .designers-inner{
         width: auto;
         padding-left: 9.63rem;
         display: flex;
         gap:9rem;
         /* overflow: hidden; */
         align-items: center;
         position: relative;
         left:0;
         top:0;
         cursor: grab;
   
         .line{
            height: 20.44rem;
            background-color: #c7c7c7;
            padding-left:0.06rem;
         }
         
         .designer{
            display: flex;
            align-items: center;
            gap: 3.38rem;
            width: auto;
            
            /* img{
               width: initial;
            } */

            .info{
               width:28.38rem;
               margin-top: 4.13rem;
               display: flex;
               flex-direction: column;
               user-select: none; 

               .name{
                  font-size: 1.88rem;
                  font-weight: bold;
               }
               .detail{
                  margin-top: 1.63rem;
                  font-size: 1.13rem;
                  color: #686868;
                  font-weight: 300;
                  width:100%;
                  line-height: 1.4;
         

               }
               .words{
                  margin-top: 3.5rem;
                  font-size: 2.5rem;
                  font-weight: 500;
                  letter-spacing: -0.025em;
                  line-height: 1.2;
               }
         

            }
         }

         /* .first{
            display: none;
         } */
       }
      }
 
   
      }

   }

.moving-words-sc{
   background-color: #6b6661;
   .moving-words-inner{
      width: 100%;
      height: auto;
      overflow: hidden;
      /* padding: 8rem 0 13.75rem 0; */

      
      .vertical-line{
         background-color: #fcf8f4;
      }

      .top{
         display: flex;
         flex-direction: column;
         top:0;
         left:0;
         position: relative;
         padding-top: 8rem;

         .top-vertical{
            height:100%;
            left:50%;
            transform: translateX(-50%) scaleY(0);
            position: absolute;
            bottom:3.25rem;
         }

         .top-words-box{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: auto;
            width: auto;
            padding: 0 3.75rem 0 3.75rem;
            /* overflow: hidden; */
            .horizontal-line{
               width: auto;
               background-color: #fcf8f4;
            }
            .top-words{
               width: auto;
               display: flex;
               align-items: center;
               height: 8.25rem;
               font-size: 2rem;
               color: #f5f0ea;
               font-weight: 300;
               /* overflow: hidden; */
   
   
               .left,.right{
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  width: 100%;
                  height:fit-content;
                  overflow: hidden;
                  /* p{
                     overflow: hidden;
                  } */
                  
               }
            }
         }
         .small-words-box{
            width: 100%;
            height: 21rem;
            display: flex;
            justify-content: flex-end;
            padding-top: 6.38rem;
            overflow: hidden;
            .small-words{
               display: flex;
               flex-direction: column;
               justify-content: space-between;
               color:#cdc9c4;
               font-size: 1.13rem;
               margin-right: 6.56rem;
               font-weight: 200;
               height: 9.88rem;
               overflow: hidden;
            }
      }
      

      }

      .bottom{
         display: flex;
         flex-direction: column;
         align-items: center;
         height: auto;
         gap:3.25rem;

            .moving-words-box{
            display: flex;
            flex-direction: column;
            /* justify-content: space-between; */
            width: auto;
            height: 25.38rem;
            color: #d3cdc7;
            white-space: nowrap;
            line-height: 0.7;
            word-spacing: 6.88rem;
            position: relative;
            top:0;
            left:0;
            >p{
               position: absolute;
               left:50%;
               transform: translateX(-50%);
            }
            .toleft{
               font-size: 16.44rem;
               letter-spacing: -0.075em;
               top:0;
            }
            .toright{
               font-size: 15.5rem;
               letter-spacing: -0.1em;
               bottom:0;
            }
         }
         .bottom-vertical{
            height: 10.5rem;
            transform: scaleY(0);
            transform-origin: top;
      }
   }
   }
}

.environment-sc{
   background-color: #fbf9f5;
   .environment-sc-inner{
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 33.5rem 0 18.13rem 0;
      position: relative;

      .semiCircle-box{
         top:9.81rem;
         .semiCircle-left,.semiCircle-right{
              > img{
            transform: translate(0px, 0px) !important;
            }
         }
      
      }


      .vertical-line-box{
         .top-line{
            height: 29.13rem;
         }
 
      }

      .bottom-line{
         position: absolute;
         height: 21.31rem;
         bottom: 0;
         transform-origin: top;
         
         left:50%;
         transform: translateX(-50%) scaleY(0);
      }

      .contents{
         display: flex;
         flex-direction: column;
         align-items: center;
         gap:6.56rem;
         width: 100%;
         .text-contents{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap:6rem;

            .title-box{

               .section-title-box{
                  .section-title-main{
                     display: flex;
                     align-items: center;
                     gap:3.25rem;
                  }
                  
               }
               .section-title-sub{
                  font-size: 1.88rem;
               }
            }
            .detail{
               display: flex;
               flex-direction: column;
               align-items: center;
               gap:2.44rem;
               font-size: 1.63rem;
               text-align: center;
               line-height: 1.5;
               color: #686868;
               >div{
                  overflow: hidden;
               }
            }
         }
      }

      .image-contents{
         display: flex;
         gap:1.5rem;


         *{
            display:flex;
            flex-direction: column;
            align-items: center;
            gap:2.5rem;
            font-size: 1.75rem;
            line-height: 0.8;
            overflow: hidden;

            .info-line{
               width: 26.25rem;
            }
         }
      
         .img-box01{
            margin-top: 5.25rem;
         }
         
         .img-box03{
            margin-top: 3.5rem;
            .info{
               gap:1rem;

            }
         }
      }
   }
}
