.main-sc {
  padding-bottom: 150vw;
  .main-innner {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;

    justify-content: flex-end;
    padding-left: 8.025vw;
    top: 0;
    .main-contents-inner {

      width: 100%;
      height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      padding-left: 15.781vw;
      padding-top: 13.75vw;
      display: flex;
      flex-direction: column;
      transform: translate(-50%, -50%);

      .main-title-box {
        width: 70.573vw; 
        display: flex;
        align-items: flex-end;
        left:0;
        top: 0;
        position: relative;
        z-index: 50;
        overflow: hidden;
        .title-s {
          font-size: 4.167vw;
          font-weight: 600;
          letter-spacing: -0.075em;
          line-height: 1.2;
        }
        .title-l {
          font-size: 19.275vw;
          line-height: 0.7;
          letter-spacing: -0.05em;
        }
        .story {
          position: absolute;
          right: 0;
          /* right: 16.38rem; */
          /* left:88.38rem; */
        }
      }
      .photo-box {
        position: absolute;
        width: 100%;
        height: auto;
        display: flex;
        top: 0;
        left: 0;

        > div {
          clip-path: inset(50%);
        }

        .photo {
          position: absolute;
        }
        .photo-1 {
          top: 18.333vw;
          left: 55vw;
          z-index: 8;
          width: 17.083vw;
        }
        .photo-2 {
          top: 5.883vw;
          left: 34.633vw;
          width: 14.01vw;
        }
        .photo-3 {
          top: 6.717vw;
          left: 51.192vw;
          z-index: 10;
           width: 22.917vw;
        }
        .photo-4 {
          top: 34.425vw;
          left: 41.667vw;
          z-index: 8;
          width: 25.104vw;       
         }
        .photo-5 {
          top: 16.358vw;
          left: 40.208vw;
          width:16.563vw;
        }
        .photo-6 {
          top: 20.208vw;
          left: 21.875vw;
          z-index: 9;
          width: 23.125vw;       
         }
        .photo-7 {
          top: 31.092vw;
          left: 54.842vw;
          z-index: 9;
          width: 22.083vw; 
        }
      }
    }
    .sub-words-box {
      display: flex;
      flex-direction: column;
      color: #686868;
      letter-spacing: -0.05em;
      /* gap: 12.865vw; */
      gap: 12.5vw;
      margin-bottom: 3.281vw;
      overflow: hidden;

      .mid-words-box {
        font-size: 0.942vw;
        line-height: 1.2;
      }
      .bottom-words-box {
        font-size: 0.783vw;
      }
    }

    .circle-arrow {
      position: absolute;
      right: 14.375vw;
      top: 38.908vw;
      z-index: -1;
      img{
        width: 12.708vw;
      }
    }
  }
}

.introduce-sc {
  padding-bottom: 104vw;
  .introduce-inner {
    width: 100%;
    height: 100%;
    /* height: calc(100vh + 140.625vw); */
    padding: 12.292vw 8.958vw 7.708vw 8.958vw;
    display: flex;
    justify-content: center;
    .introduce {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: auto;

      .introduce-img {
        clip-path: inset(0%);
        margin-top: 6.3vw;
        img{
          width: 82.292vw;
        }
      }
      .sub-contents-box {
        display: flex;
        margin-top: 2.6vw;
        width: 100%;
        color: #484848;
        align-items: flex-start;
        justify-content: space-between;


        .left-content-wrapper {
          overflow: hidden;
          font-weight: 500;
          .left-content{
            height: 2.656vw;
          }
        }
        .right-content-wrapper {
          overflow: hidden;
          .right-content{
            height: 7.5vw;
          }
        }

        .left-content,.right-content{
          font-size:1.25vw;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          
        }

        .center-content {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 1.358vw;
          padding-top: 0.2vw;

          .diamond {
            width: 0.783vw;
            height: 0.783vw;
            background-color: #c7c7c7;
          }

          .line {
            width: 11.567vw;
            height: 0.05vw;
            background-color: #c7c7c7;
          }
          :nth-child(1) {
            transform-origin: right center;
            transform: scaleX(0);
          }
          :nth-child(3) {
            transform-origin: left center;
            transform: scaleX(0);
          }
        }

      }
    }
  }
}

.big-number-sc {
  overflow: hidden;
  .big-number-inner {
    width: 100%;
    /* height: calc(100vh + 3000px); */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: calc(93.75vw + 8.333vw);

    .line-box {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 2.708vw;

      .vertical-line {
        height: 14.692vw;
      }
    }
    .big-number {
      font-size: 40.625vw;
      font-weight: 500;
      letter-spacing: -0.05em;
      line-height: 0.75;
      color: #68635f;
      z-index: 10;
    }
    .detail {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 0.833vw;
      font-size: 1.875vw;
      font-weight: 500;
      letter-spacing: -0.075em;
      color: #c7c7c7;
      margin-top: 5.208vw;
    }
  }
}

.history-sc {
  .history-inner {
    width: 100%;
    background-color: #8c8680;
    /* padding: 3.17.5vw 3.125vw  1.75rem 3.125vw; */
    padding: 2.66vw 3.13vw 0 3.13vw;
    display: flex;
    flex-direction: column;
    align-items: center;

    .top-content {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* font-size: 4.63rem; */
      font-size: 3.86vw;
      letter-spacing: -0.08em;
      color: #ece2d9;
      font-weight: 300;
      /* color: #a69f98; 비활성화 상태의 색*/
      /* word-spacing: 2.08vw; */
      line-height: 0.8;
      gap: 0.625vw;

      div {
        display: flex;
        align-items: center;
        gap: 2.08vw;
      }
      .alta {
        /* font-size: 4.375vw; */
        font-size: 4.38vw;
        letter-spacing: -0.04em;
        font-weight: 400;
        gap: 2.08vw;
        /* word-spacing: 2.083vw; */
      }

      .diamond-space {
        gap: 1.56vw;
        .diamond {
          background-color: #ece2d9;
          width: 0.68vw;
          height: 0.68vw;
        }
      }
    }

    .history-box {
      width: 100%;
      margin-top: 1.49vw;
      padding-bottom: 28.96vw;
      position: relative;

      .line-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.83vw;

        .diamond-box {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 0.5vw;
          .diamond {
            background-color: #ece2d9;
            width: 0.78vw;
            height: 0.78vw;
          }
        }

        .lines {
          display: flex;
          flex-direction: column;
          align-items: center;
          > div {
            display: flex;
            flex-direction: column;
          }

          .vertical-line {
            height: 35.16vw;
            background-color: #fcf8f4;
          }
          .vertical-line:nth-of-type(1) {
            height: 26.83vw;
          }

          .long {
            width: 75.32vw;
            background-color: #fcf8f4;
          }
          .short {
            width: 61.15vw;
            background-color: #fcf8f4;
          }

          .branch {
            display: flex;
            width: 100%;
            justify-content: space-between;
            .vertical-line {
              background-color: #fcf8f4;
              height: 12.24vw;
            }
          }
        }
      }
      .img-box {
        > div {
          position: absolute;
          z-index: 10;
          /* clip-path:inset(100%); */
          /* scale:(0,0); */
          img {
            width: 18.75vw;
            height: auto;
          }
          .img-inner {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            top: 0;
            left: 0;

            .img-info {
              opacity: 0;
              z-index: 20;
              position: absolute;
              width: 100%;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              display: flex;
              flex-direction: column;
              align-items: center;
              gap: 0.833vw;
              color: white;
              overflow: hidden;
              .year {
                font-size: 1.354vw;
              }
              .name {
                font-size: 2.083vw;
              }
              .text {
                display: flex;
                flex-direction: column;
                align-items: center;
                font-size: 1.042vw;
              }
            }
            .overlay {
              opacity: 0;
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background-color: #5e554c; /* 원하는 색상 */
              mix-blend-mode: multiply;
              pointer-events: none; /* 클릭 방해 안 되도록 */
            }
          }
        }

        .center {
          left: 50%;
          transform: translateX(-50%);
        }
        .img1918,
        .img1955 {
          left: 0;
        }
        .img1921,
        .img1974 {
          right: 0;
        }
        .img1933,
        .img2011 {
          left: 6.98vw;
          /* 8.44 */
        }
        .img1943,
        .img2016 {
          right: 6.98vw;
        }

        .img1876 {
          top: 17.66vw;
        }
        .img1918,
        .img1921 {
          top: 33.54vw;
        }
        .img1931 {
          top: 65.05vw;
        }
        .img1933,
        .img1943 {
          top: 81.2vw;
        }
        .img1954 {
          top: 112.82vw;
        }
        .img1955,
        .img1974 {
          top: 128.65vw;
        }
        .img1988 {
          top: 160.26vw;
        }
        .img2011,
        .img2016 {
          top: 176.04vw;
        }
      }

      .year-box {
        font-weight: 500;
        font-size: 7.08vw;
        line-height: 1;
        letter-spacing: 0;
        color: #a69f98;
        > span {
          position: absolute;
        }
        .centerLeft {
          left: 27.61vw;
        }
        .centerRight {
          right: 28.86vw;
        }
        .inLeft {
          left: 13.38vw;
        }
        .inRight {
          right: 13.38vw;
        }
        .outLeft {
          left: 0;
        }
        .outRight {
          right: 0;
        }

        .year1878 {
          top: 39.22vw;
        }
        .year1918,
        .year1921 {
          top: 55.05vw;
        }
        .year1931 {
          top: 86.62vw;
        }
        .year1933,
        .year1943 {
          top: 102.4vw;
        }
        .year1954 {
          top: 133.91vw;
        }
        .year1955,
        .year1974 {
          bottom: 57.19vw;
        }
        .year1988 {
          bottom: 25.63vw;
        }
        .year2011,
        .year2016 {
          bottom: 9.9vw;
        }
      }
    }
  }
}

.video-sc {
  .video-sc-inner {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .video-box {
      position: relative;
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;

      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform-origin: top;
        transform: scaleY(0);
      }
      /* 재생 버튼 (초기 상태) */
      .button-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width:5.417vw;
        height:5.417vw;
        display: flex;
        align-items: center;
        justify-content: center;
        backdrop-filter: blur(0.521vw); /* 배경 블러 */
        background: rgba(255, 255, 255, 0.1); /* 반투명 */
        border-radius: 50%;
        cursor: pointer;
        transition: transform 0.3s ease-in-out;
      }
      /* 비디오가 재생되면 버튼 숨기기 */
      .hidden {
        display: none;
      }

      .video-box:hover .pause-button {
        display: flex;
      }
    }

    .vertical-line {
      height: 5.992vw;
      transform-origin: bottom;
    }
  }
}

.pictures-sc {
  .pictures-sc-inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* padding-top: 4.87rem; */
    .contents {
      display: flex;
      width: 100%;
      padding: 0 3.125vw 0 3.125vw;
      justify-content: space-between;

      .left-picture-box {
        width: 100%;
        padding: 4.058vw 0 5.1vw 0;
        .left-picture {
          margin-left: 2.083vw;
          clip-path: inset(100%);
          img{
            width: 39.792vw;
          }
        }
      }
      .right-picture-box {
        width: 100%;
        height: 100%;
        padding: 4.058vw 0 5.1vw 0;
        .right-box-inner {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          gap: 7.192vw;
          overflow: hidden;
          .pictures {
            position: relative;
            width: 100%;
            height: 100%;
            top: 0;
            right: 0;
            display: flex;
            font-size: 0.733vw;
            color: #a2a2a2;

            .hanger,
            .lamp {
              position: absolute;
            }

            .hanger {
              top: 12.192vw;
              right: 20.158vw;
              display: flex;
              flex-direction: column;
              gap: 0.833vw;
              .detail {
                transform-origin: top;
                transform: scaleY(0);
              }
              img{
                width: 12.135vw;
              }
            }

            .lamp {
              display: flex;
              right: 0;
              gap: 0.942vw;
              .detail {
                writing-mode: vertical-lr;
                transform-origin: left;
                transform: scaleX(0);
              }
              img{
                width: 18.333vw;
              }
            }
            img {
              clip-path: inset(100%);
            }
          }

          .text {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            font-size:1.25vw;
            color: #484848;
            line-height: 1.3;
          }
        }
      }
    }
  }
}

.designer-sc {
  .designer-sc-inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 19.9vw 0 7.708vw 0;
    gap: 9.008vw;
    position: relative;

    .vertical-line-box {
      .top-line {
        height: 13.908vw;
      }
    }

    .title-box {
      gap:4.842vw;

      .section-title-sub {
        font-size: 1.458vw;
      }
    }

    .designers-box {
      display: flex;
      overflow: hidden;

      .designers-inner {
        width: auto;
        padding-left: 8.025vw;
        display: flex;
        gap: 7.5vw;
        align-items: center;
        position: relative;
        left: 0;
        top: 0;
        cursor: grab;

        .line {
          height: 17.033vw;
          background-color: #c7c7c7;
          padding-left: 0.05vw;
        }

        .designer {
          display: flex;
          align-items: center;
          gap: 2.817vw;
          width: auto;

          img{
               width: 15.625vw;
            }

          .info {
            width: 23.65vw;
            margin-top: 3.442vw;
            display: flex;
            flex-direction: column;
            user-select: none;

            .name {
              font-size: 1.567vw;
              font-weight: bold;
            }
            .detail {
              margin-top: 1.358vw;
              font-size: 0.942vw;
              color: #686868;
              font-weight: 300;
              width: 100%;
              line-height: 1.4;
            }
            .words {
              margin-top: 2.917vw;
              font-size: 2.083vw;
              font-weight: 500;
              letter-spacing: -0.025em;
              line-height: 1.2;
            }
          }
        }

        /* .first{
            display: none;
         } */
      }
    }
  }
}



.environment-sc {
  background-color: #fbf9f5;
  .environment-sc-inner {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 27.917vw 0 15.108vw 0;
    position: relative;

    .semiCircle-box {
      top: 8.175vw;
    }

    .vertical-line-box {
      .top-line {
        height: 24.275vw;
      }
    }

    .bottom-line {
      position: absolute;
      height: 17.758vw;
      bottom: 0;
      transform-origin: top;

      left: 50%;
      transform: translateX(-50%) scaleY(0);
    }

    .contents {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5.467vw;
      width: 100%;
      .text-contents {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5vw;

        .title-box {
          .section-title-box {
            .section-title-main {
              display: flex;
              align-items: center;
              gap: 2.708vw;
            }
          }
          .section-title-sub {
            font-size: 1.567vw;
          }
        }
        .detail {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 2.033vw;
          font-size: 1.358vw;
          text-align: center;
          line-height: 1.5;
          color: #686868;
          > div {
            overflow: hidden;
          }
        }
      }
    }

    .image-contents {
      display: flex;
      gap:1.25vw;

      * {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2.083vw;
        font-size: 1.458vw;
        line-height: 0.8;
        overflow: hidden;

        img{
          width: 23.698vw;
        }

        .info-line {
          width: 21.875vw;
        }
      }

      .img-box01 {
        margin-top: 4.375vw;
      }

      .img-box03 {
        margin-top: 2.917vw;
        .info {
          gap: 0.833vw;
        }
      }
    }
  }
}
