/* https://our-revolution.com/ 커스텀마우스 질문 */

@keyframes circle {
  to {
    transform: rotate(360deg);
  }
}

.cursor {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: red;
  /* backdrop-filter: blur(3px); */
}

/***************************************인트로****************************************/

.intro {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  background-color: white;
  overflow: hidden;
  /* display: none; */
  align-items: center;

  .contents {
    color: #282828;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1000;
    justify-content: center;
    align-items: center;
  }

  .logo {
    width: 8.854vw;
    height: auto;
  }

  .title {
    margin: 2.188vw 0 4.66vw 0;
    width: 31.094vw;
    height: auto;
  }

  .enter {
    display: flex;
    flex-direction: column;
    gap: 0.729vw;
    font-size: 1.042vw;
    color: #484848;
    cursor: pointer;

    .line {
      width: 100%;
      height: 0.05vw;
      background-color: #484848;
    }
  }

  .small-circle-wrapper,
  .big-circle-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .small-circle {
    animation: circle 120s infinite linear;

    width: 81.979vw;
    height: auto;
  }
  .big-circle {
    animation: circle 90s infinite linear;

    width: 112.865vw;
    height: auto;
  }
}

/****************************************메인****************************************/

.section01 {
  height: 100vh;
  .background {
    opacity: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: initial !important;

    .background-inner {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      .column-box {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        gap: 8.438vw;

        .column {
          display: flex;
          flex-direction: column;
          position: relative;
          align-items: center;
          gap: 4.583vw;

          div {
            cursor: pointer;
          }

          &.first {
            div:nth-child(1) {
              top: 0;
            }
            div:nth-child(2) {
              margin-top: 22.5vw;
            }
            div:nth-child(4) {
              bottom: 42.396vw;
            }
            div:nth-child(5) {
              margin-top: 24.375vw;
              margin-bottom: 21.063vw;
            }

            div:nth-child(6) {
              bottom: 10.104vw;
            }
          }

          &.third {
            bottom: 2.031vw;
            div:nth-child(6) {
              bottom: 21.302vw;
            }
            div:nth-child(5) {
              margin-bottom: 21.042vw;
            }
          }
          &.forth {
            div:nth-child(1) {
              top: 0;
            }
            div:nth-child(2) {
              margin-top: 17.292vw;
              margin-bottom: 15.469vw;
            }
            div:nth-child(3) {
              top: 27.344vw;
            }
            div:nth-child(6) {
              margin-bottom: 17.021vw;
            }

            div:nth-child(7) {
              bottom: 0;
            }
          }
          &.sixth {
            margin-top: 9.01vw;
            div:nth-child(3) {
              margin-bottom: 21.458vw;
            }
            div:nth-child(4) {
              top: 32.396vw;
            }
          }

          .img-box {
            img {
              width: 5.521vw;
            }
          }
          .bigImg-box {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 0.052vw solid #c7c7c7;
            left: 50%;
            transform: translateX(-50%);
            &.orangeChair {
              width: 15.417vw;
              height: 22.188vw;

              img {
                width: 9.635vw;
              }
            }

            &.redChair {
              width: 15.521vw;
              height: 18.229vw;
              img {
                width: 11.927vw;
              }
            }
            &.smile {
              width: 13.75vw;
              height: 13.021vw;
              img {
                width: 13.333vw;
              }
            }
            &.lamp {
              width: 13.75vw;
              height: 13.021vw;
              img {
                width: 8.854vw;
              }
            }
            &.brownChair {
              width: 14.896vw;
              height: 18.958vw;
              img {
                width: 10.104vw;
              }
            }
          }
        }
      }
    }
  }
}
