
.main-sc{
  .main-inner{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 8.125vw;
    /* gap:2.76vw; */
    gap:2.708vw;
    .main-title-box{
      display: flex;
      flex-direction: column;
      padding-left: 3.125vw;
      gap:0.469vw;
      .main-title-inner{
        display: flex;
        gap:1.563vw;

        align-items: center;
        .text-left{
          display: flex;
          flex-direction: column;
          margin-top: 0.26vw;
          font-size: 4.375vw;
          letter-spacing: -0.1em;
          font-weight: 500;
          line-height: 0.8;
          gap:0.5vw;
          height: 100%;
        
          
          .row{
            display: flex;
            justify-content: space-between;
            overflow: hidden;
            .diamond-box{
              display: grid;
              grid-template-columns: repeat(2, 1.146vw); 
              grid-template-rows: repeat(2, 1.146vw);
              gap: 0.15vw; 
       
            }
       
          }
      
          .row:nth-child(1){
            align-items: flex-start;
            padding-right: 0.677vw;
            .diamond-wrapper{
              display: flex;
              padding: 0.313vw 0 0 0.521vw;
            }
    
          }
          .row:nth-child(2){
            align-items: flex-end;
            padding-right: 0.26vw;
    
            
          }
       
        }
        .main-title{
          position: relative;
          top:0;
          left:0;
          overflow: hidden;
         img{
          width: 73.906vw;
         } 
         .product-title *{
          position: absolute;
          top:0;
          left:0;
          img{
         opacity: 0;
          }
         }
        }
      }
  
      .text-bottom{
        overflow: hidden;
        text-align: end;
        padding-right: 3.125vw;
      }
    }
    .main-photos-box{
      .main-photos-box-inner{
        position: relative;
       display: flex;
      align-items: center;
      gap:0.729vw;
      /* overflow: hidden; */
      .main00{
        img{width: 23.229vw;}
      }
      .main01{
        img{width: 13.333vw;}
      }
      .main02{
        img{width: 22.656vw;}
      }
      .main03{
        img{width: 23.229vw;}
      }
      .main04{
        img{width: 17.917vw;}
      }
      .main05{
        img{width: 13.333vw;}
      }
      .main06{
        img{width: 22.656vw;}
      }
      }

    }
  }
}

.products-sc{
  overflow: hidden;
  width: 100vw;
  .products-sc-inner{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 13.333vw 3.125vw 0 3.125vw;
   top:0;
   left:0;
     .diamond-box{
        display: flex;
        justify-content: center;
        gap:0.416vw;
        .diamond{
          width: 0.781vw;
          height: 0.781vw;
        }
      }

    .title-box{
         margin-top:4.531vw;
         margin-bottom: 4.271vw;

      }

      .section-title-sub{
        width: 68.02vw;
        align-items: flex-end;
        div{
          width: 50%;
          font-size: 1.354vw;
        
        
        }
        
      }
    
    .products-box {
        display: grid;
        grid-template-columns: repeat(4, 1fr); /* 4열 */
        grid-template-rows: repeat(7, 30.521vw); /* 7행, 높이 */
        gap: 0.833vw; /* 셀 간격 */
        width: 100%;
        z-index: 10;
        /* overflow: hidden; */
      }
      
      .product {
        background: #f6f6f6;
        display: flex;
        align-items: center;
        justify-content: center;
      
      }
      .big-chairs,.big-flowers{
      img{
        width: 46.458vw;

      }
      }

      .transparent{
        background: transparent;
      }
      .text{
        background: transparent;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        /* padding: 1.823vw 1.042vw 1.198vw 0.677vw; */
        padding: 1.979vw 0.99vw 1.615vw 0.729vw;
        color:#686868;
        letter-spacing: 0;
        .top-text{
          width: 100%;
          font-size: 0.729vw;
          letter-spacing: -0.035em;
          text-align: end;
       
        }
        .bottom-text{
          /* width: 100%; */
          display: flex;
          flex-direction: column;
          gap:1.484vw;
          /*갭이 29px,28px..*/
          .horizontal-line{
            width: 2.135vw;
            background-color:#969696;
          }
          .detail{
            font-size: 0.885vw;
            p:first-child{
              margin-bottom: 0.417vw;
            }
          }
        }

      }
      .rightSide{
        align-items: flex-end;
        padding: 1.979vw 0.729vw 1.615vw 0.99vw;
        .top-text{
          text-align: start;
        }
        .bottom-text{
          align-items: flex-end;
          text-align: end;
        }

      }
      .centerSmall{
        padding: 0;
        justify-content: center;
        align-items: center;


       .text-inner{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: start;
        height: 7.127vw;
        font-size: 0.729vw;
        color:#969696;
      }

    }

    .last-text{
      justify-content: flex-end;
      align-items: flex-end;
      padding: 0 0.677vw 2.396vw 0;
      gap:2.188vw;
      .viewMore{
        display: flex;
        gap:0.625vw;
        font-size: 0.942vw;
        padding-left: 7.967vw;
        color: #484848;
        >div >img{
            width: 1.146vw;
        }
        .text-box{
            display: flex;
            flex-direction: column;
            gap:0.158vw;
}
    }
    .detail{
      font-size: 0.885vw;
      color:#969696;
      text-align: end;
      p{
        margin-bottom: 0.417vw;
        
        }
        :last-child{
          margin:0;
      }
      
    }

    }
      
      /* 특정 셀 병합 */
      .big-chairs { grid-column: span 2; grid-row: span 2; } /* 가로로 2칸 합침 */
      .big-table { 
        grid-row: span 2;
        overflow: hidden;
      }    /* 세로로 2칸 합침 */
      .big-flowers,.last-text{ grid-column: span 2;} /* 가로, 세로 둘 다 합침 */


      .bottom-line{
        margin-top:1.094vw;
        height: 7.656vw;
      }

      .circles-box{
         .circle{
          position: absolute;
          overflow: initial;
    
      }
          .top{
            top:45.833vw;
            right:-1.198vw;
          }
         .mid{
          top:115.313vw;
          left:-16.51vw;
         } 
         .big{
          top:142.5vw;
          left:-26.302vw;
         }
    
     
  }
}
}
