/* 공통 스타일 */

.alta {
  font-family: 'alta';
}

section {
  display: flex;
  justify-content: center;
}



/* 헤더 */

header {
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: rgba(255, 255, 255, 0.7); /* 반투명 배경 */
  backdrop-filter: blur(0.365vw); /* 블러 효과 */

  .gnb {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #484848;
    padding: 0 3.125vw 0 3.125vw;
    height: 5.208vw;
    position: relative;
    z-index: 100;
    /* overflow: hidden; */

    .shop {
      color: #484848;
      font-size: 0.942vw;
      font-weight: bold;
      letter-spacing: -0.025em;
    }
    .logo {
      height: auto;
      width: 9.5vw;
    }
    .hamburger {
      width: 1.875vw;
      height: 0.733vw;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      cursor: pointer;
      position: relative;
    }
    .hamburger span {
      display: block;
      width: 100%;
      height: 0.075vw;
      background-color: #484848;
      transition: all 0.3s ease-in-out;
    }

    /* 마우스 오버 시 X로 변하는 효과 */
    .hamburger:hover span:nth-child(1) {
      transform: translateY(6px) rotate(45deg);
    }

    .hamburger:hover span:nth-child(2) {
      opacity: 0; /* 가운데 줄 숨김 */
    }

    .hamburger:hover span:nth-child(3) {
      transform: translateY(-6px) rotate(-45deg);
    }
  }
}

header.hidden {
  transform: translateY(-100%);
  /* opacity: 0; */
}


.menu {
  width: 100vw;
  height: 0;
  background-color: white;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  

  .menu-inner {
    /* width: 1920px; */
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    top:0;
    left:0;
    .words-wrapper {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      height: 100%;
      padding-top: 8.542vw;
      /* padding-top: 7.3vw; */
      /* padding-bottom: 9.688vw; */
      top:0;
      z-index: 20;
      .words{
        min-height:38.021vw; 
        display: flex;
        flex-direction: column;
        width: 100%;
        overflow: hidden;
        
        & > div {
        transition: all 0.3s;
        opacity: 0.3;
        overflow: hidden;
      }

      & > div:hover {
        opacity: 1;
      }

      img {
        transform:translateY(100%)
        /* filter: invert(90%) sepia(1%) saturate(491%) hue-rotate(349deg) brightness(93%) contrast(84%); */
      }
      
     
      .home {
       
        margin-left: 33.9vw;
        width: 30.729vw;
      }
      .project {
        margin-top: 1.567vw;
        margin-left: 28.333vw;
        width: 41.979vw;
      }
      .about {
        margin-top: 0.208vw;
        margin-left: 9.583vw;
        width: 45vw;
      }
      .product {
        margin-top:1.5vw;
        margin-left: 47.292vw;
        width: 43.594vw;
      }
      }
      
     
    }

    .photos {
      
      .photo-wrapper {
        position: absolute;
        img{
          width: 19.74vw;
        }
       
      }

      .photo-home-wrapper {
        top: 2.608vw;
        left:59.583vw;
      }
      .photo-project-wrapper {
        top: 10.158vw;
        left: 64vw;
      }
      .photo-about-wrapper {
        top: 4.9vw;
        left:6.458vw;
      }
      .photo-product-wrapper {
        top: 14.742vw;
        left: 74.692vw;
        width: 379px;
        height: 537px;
        display: flex;
        justify-content: center;
        align-items: center;

        .cover{
          overflow: hidden;
          display: flex;
          clip-path: inset(50%);
          justify-content: center;
          align-items: center;

          img{
            transform:scale(1.2)
          }
        }
      }
    }
  }
  .additional {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #686868;

    .info-box {
      margin-left: 3.175vw;
      margin-bottom: 5.208vw;
      width: auto;
      height: auto;
      display: flex;
      gap: 1.717vw;
      align-items: flex-end;
      letter-spacing: -0.05em;
      font-size: 0.783vw;
      line-height: 1.5;
  
      .address {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        opacity: 0;
      }
      .time {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        opacity: 0;
      }
    }

    .sns-box {
      display: flex;
      align-items: flex-end;
      margin-bottom: 2.817vw;
      margin-right: 3.125vw;
      gap: 4.167vw;
      font-size: 0.729vw;

      .facebook,
      .instagram,
      .pinterest {
        display: flex;
        align-items: center;
        opacity: 0;
      }
      img {
        width :0.729vw;
        
      }
      .facebook {
        img {
          margin-right: 0.417vw;
        }
      }
      .instagram {
        img {
          margin-right: 0.417vw;
        }
      }
      .pinterest {
        img {
          margin-right:0.417vw;
        }
      }
    }
  }
}

/* 흐르는 가로,세로선 */

.horizontal-line {
  width: 100%;
  height: 0.05vw;
  background-color: #484848;
}

.vertical-line {
  width: 0.05vw;
  background-color: #484848;
  transform: scaleY(0);
  transform-origin: top;
}

/* 다이아몬드 */

.diamond {
  width: 0.813vw;
  height: 0.813vw;
  background-color: #959596;
  transform: rotate(45deg);
  display: inline-block;
}

/* 곡선-세로선 교차 */
.vertical-line-box,.semiCircle-box{
  position: absolute;
  left:50%;
  transform: translateX(-50%);
}
.vertical-line-box{
  top:0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.semiCircle-box{
  top: 5.21vw;
  width: auto;
  display: flex;
  .semiCircle-wrapper{
    width: 100%;

  }
  .left,.semiCircle-left{
    display: flex;
    justify-content: flex-end;
  }
   .semiCircle-left{
    width: 0;
    overflow: hidden;
   }
   .semiCircle-right{
    width: 0;
    overflow: hidden;
   }
   
    img{
   width: 58.281vw;
   
}

}

/* 섹션 타이틀 스타일 */

.title-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:2.97vw;
  overflow: hidden;
}

.section-title-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: auto;
    gap:1.78vw;
    overflow: hidden;
        .section-title-main{
         display: flex;
         align-items: center;
         gap:2.71vw;
               
                 
  .section-title {
    font-size: 5.21vw;
    letter-spacing: -0.075em;
    line-height: 0.9;
    
  }   
  .alta {
    font-size: 5.94vw;
    letter-spacing: -0.025em;
    line-height: 0.7;
  }
  } 
.horizontal-line{
  height:0.11vw;
 }
}

.section-title-sub{
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.5;
  color: #686868;
}


.footer-sc{

  .footer-sc-inner{
     width: 100%;
     display: flex;
     position: relative;
     flex-direction: column;
     align-items: center;
     overflow: hidden;
     padding: 1.771vw 3.125vw 0 3.125vw;
  
     gap:14.167vw;

     .top-line{
        top:0;
        position: absolute;
        left:50%;
        transform: translateX(-50%);
     }
     .vertical-line-box{
        gap:0.625vw;
        .vertical-line{
           height: 16.3vw;
        }
        .diamond-box{
           display: flex;
           flex-direction: column;
           align-items: center;
           gap:0.642vw;
          .diamond{
           width: 0.783vw;
           height:  0.783vw;
         }
         > span:nth-child(1){
           background-color: #e5e5e5;
         }
        }
     

     }

     .top{
        width: 100%;
        min-height:12.867vw;
        display: flex;
        justify-content: space-between;
        color:#484848;
        .info-box{
           margin-top: 1.875vw;
           display: flex;
           >div{
              display: flex;
              flex-direction: column;
              gap:4.842vw;
              
              .sns-box{
                display: flex;
                 font-size: 0.942vw;
                 letter-spacing: -0.04em;
                 font-weight: 500;
                 .facebook,.instagram,.pinterest{
                    margin-right: 0.575vw;
                    img{
                      width: 0.938vw;
                    }
                    
                 }
                 .arrow{
                    margin-left: 0.833vw;
                    img{
                        width: 0.729vw;
                    }
                  
                 }
              

           }
           .info{
              display: flex;
              flex-direction: column;
              font-size: 0.833vw;
              letter-spacing: -0.04em;
              gap:0.783vw;
           }
           }
           .center-box{
              margin-left: 4.067vw;
              margin-right: 5.942vw;
           }
        
       
        }
        .arrow-box{
           display: flex;
           font-size: 1.042vw;
           gap:1.25vw;
           align-items: center;
           font-weight: 500;
           cursor: pointer;
           >img{
              transform: rotateX(3.142rad);
              width: 9.012vw;
              height: auto;
           }
        }
     }

     .bottom{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:2.708vw;
        padding-top: 19.572vw;
        .title{
           display: flex;
           align-items: center;
           font-size: 19.425vw;
           letter-spacing: -0.05em;
           line-height: 0.7;
           position: absolute;
           bottom: 8.073vw;
        }
        .bottom-words-box{
           display: flex;
           flex-direction: column;
           align-items: center;
           width: 100%;

           .bottom-words{
              width: 100%;
              font-size: 0.783vw;
              letter-spacing: -0.04em;
              color: #686868;
              display: flex;
              justify-content: space-between;
              padding-top: 2.192vw;
              /* align-items: center; */
              height: 5.317vw;
           
              .copyright-box{
                 display: flex;
                 align-items: flex-end;
                 height: fit-content;
                 gap:0.417vw;
                 .c{
                    font-size: 1.042vw;
                 }
              }
              .deco-words{
                 display: flex;
                 height: fit-content;
                 /* align-items: center; */
                 :nth-child(2){
                    margin-left: 3.075vw;
                    margin-right: 9.95vw;
                 }
              }

           }
        }
     }

  }
}


/* 좌우로 흐르는 문장 */
@keyframes toleft {
  to{
     transform:translateX(-3163px);
  }
}

@keyframes toright {
 to{
    transform:translateX(3022px);
 }
}

.moving-words-sc {
 background-color: #6b6661;
 .moving-words-inner {
   width: 100%;
   height: auto;
   overflow: hidden;
   /* padding: 8rem 0 13.125vw 0; */

   .vertical-line {
     background-color: #fcf8f4;
   }

   .top {
     display: flex;
     flex-direction: column;
     top: 0;
     left: 0;
     position: relative;
     padding-top:6.667vw;

     .top-vertical {
       height: 100%;
       left: 50%;
       transform: translateX(-50%) scaleY(0);
       position: absolute;
       bottom: 2.708vw;
     }

     .top-words-box {
       display: flex;
       flex-direction: column;
       justify-content: space-between;
       height: auto;
       width: auto;
       padding: 0 3.125vw 0 3.125vw;
       .horizontal-line {
         width: auto;
         background-color: #fcf8f4;
       }
       .top-words {
         width: auto;
         display: flex;
         align-items: center;
         height: 6.875vw;
         font-size: 1.667vw;
         color: #f5f0ea;
         font-weight: 300;

         .left,
         .right {
           display: flex;
           justify-content: center;
           align-items: center;
           width: 100%;
           height: fit-content;
           overflow: hidden;
         }
       }
     }
     .small-words-box {
       width: 100%;
       height: 17.5vw;
       display: flex;
       justify-content: flex-end;
       padding-top: 5.317vw;
       overflow: hidden;
       .small-words {
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         color: #cdc9c4;
         font-size: 0.942vw;
         margin-right: 5.467vw;
         font-weight: 200;
         height: 8.233vw;
         overflow: hidden;
       }
     }
   }

   .bottom {
     display: flex;
     flex-direction: column;
     align-items: center;
     height: auto;
     gap: 2.708vw;

     .moving-words-box {
       display: flex;
       flex-direction: column;
       /* justify-content: space-between; */
       width: 100vw;
       height: 21.109vw;
       color: #d3cdc7;
       white-space: nowrap;
       word-spacing: 5.733vw;
       position: relative;
       top: 0;
       left: 0;

       .toleft-wrapper,
       .toright-wrapper {
         position: absolute;
         overflow: hidden;
       }

       .toleft-wrapper {
         font-size: 13.7vw;
         letter-spacing: -0.075em;
         line-height: 0.7;
         left: 0;
         top: 0;

         .toleft.move{
           overflow: hidden;
           & p{
              animation: toleft 15s infinite linear 0.5s forwards;
           }
         }
  }
       .toright-wrapper {
         font-size: 12.917vw;
         letter-spacing: -0.1em;
         line-height: 0.75;
         bottom: 0;
         right: 0;

         .toright.move{
                overflow: hidden;
           & p{
             animation: toright 15s infinite linear 0.5s forwards;
           }
         }
       }
   }
   .bottom-vertical {
     height: 8.75vw;
     transform: scaleY(0);
     transform-origin: top;
   }
 }
}
}